
<h2 class="styleTitle">Modification mot de passe</h2>
<br>
<br>
<form #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()">
  <div class="form-group">
    <mat-form-field class="full-width" appearance="outline">
      <input matInput type="password" placeholder="Nouveau mot de passe" name="password" [(ngModel)]="userForm.password" #password="ngModel" >
      <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
        Mot de passe is required
      </mat-error>
    </mat-form-field>
  </div>




  <div class="action-btn" fxLayoutAlign="space-between center">
    <button class="connexionButton" mat-flat-button color="primary"  type="submit" [disabled]="false">Sauvegarder</button>
  </div>
  <br>
  <div class="action-btn" fxLayoutAlign="space-between center">
    <button class="connexionButton" mat-flat-button color="warn" routerLink="/client/profil">Retour profil</button>
  </div>
</form>
