<section class="features-section" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <article fxFlex="21" fxFlex.xs="100" fxLayout="column">
    <div class="contentAdd">
      <div class="content">Bastille</div>
      <br>
      <div>Laptops : {{maxLaptopBastille}}</div>
      <div>Salons : {{maxCallingRoomBastille}}</div>
      <div>Salles d'appel : </div>
      <br>
      <button mat-flat-button color="warn" routerLink="/client/reservation/add" > Reservez </button>

    </div>
  </article>
  <article fxFlex="21" fxFlex.xs="100" fxLayout="column">
    <div class="contentAdd">
      <div class="content">Odeon</div>
      <br>
      <div>Laptops : </div>
      <div>Salons : </div>
      <div>Salles d'appel : </div>
      <br>
      <button mat-flat-button color="warn" routerLink="/client/reservation/add" > Reservez </button>
    </div>
  </article>
  <article fxFlex="21" fxFlex.xs="100" fxLayout="column">
    <div class="contentAdd">
      <div class="content">Italie</div>
      <br>
      <div>Laptops : </div>
      <div>Salons : </div>
      <div>Salles d'appel : </div>
      <br>
      <button mat-flat-button color="warn" routerLink="/client/reservation/add"> Reservez </button>
    </div>
  </article>
  <article fxFlex="21" fxFlex.xs="100" fxLayout="column">
    <div class="contentAdd">
      <div class="content">Republique</div>
      <br>
      <div>Laptops : </div>
      <div>Salons : </div>
      <div>Salles d'appel : </div>

      <br>
      <button mat-flat-button color="warn" routerLink="/client/reservation/add" > Reservez </button>
    </div>
  </article>
</section>


