<mat-card class="example-card">
  <mat-card-subtitle>Qui sommes-nous ?</mat-card-subtitle>
  <mat-card-title>Co'Work Entreprise</mat-card-title>
  <mat-card-content>
    <p>Créée en 2011, Co'Work propose six espaces de travail collaboratif à Paris (Bastille, République, Odéon,
      Place d'Italie, Ternes et Beaubourg). La liste des espaces est susceptible d'évoluer rapidement grâce à
      un fort taux de croissance. Pour quelques euros de l’heure, les utilisateurs viennent se rencontrer, se
      détendre, organiser un rendez-vous, travailler, accéder à Internet ou profiter de boissons chaudes et
      froides à volonté́. Des animations et des évènements liés aux cultures innovantes rythment aussi la vie
      des lieux dans un esprit de communauté́.</p>
    <div>
      <img
        class="angular-logo"
        fxFlex="15"
        src="../../../assets/favicon.png"
        alt="logo-angular"
      />
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
<!--    <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
  </mat-card-footer>
</mat-card>

