<section class="features-section" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <article fxFlex="21" fxFlex.xs="100" fxLayout="column">
    <div class="contentList">
      <div class="content">Liste</div>
      <button routerLink="all"  mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
        <mat-icon>list</mat-icon>
      </button>

    </div>
  </article>
  <article fxFlex="21" fxFlex.xs="100" fxLayout="column">
    <div class="contentEdit">
      <div class="content">Modifier</div>
      <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </article>
  <article fxFlex="21" fxFlex.xs="100" fxLayout="column">
    <div class="contentAdd">
      <div class="content">Ajouter</div>
      <button mat-mini-fab color="warn" routerLink="add" aria-label="Example icon button with a filter list icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </article>
  <article fxFlex="21" fxFlex.xs="100" fxLayout="column">
    <div class="contentDel">
      <div class="content">Supprimer</div>
      <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </article>
</section>

<!----------------------------------------->

<!--<div>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Action</th>-->
<!--      <th>#</th>-->
<!--      <th>Nom</th>-->
<!--      <th>Prenom</th>-->
<!--      <th>Email</th>-->
<!--      <th>Date Creation</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr *ngFor="let user of userList">-->
<!--        <td></td>-->

<!--        <td>{{user.id}}</td>-->
<!--        <td>{{user.lastname}}</td>-->
<!--        <td>{{user.surname}}</td>-->
<!--        <td>{{user.email}}</td>-->
<!--        <td>{{user.dateSubscription |date: 'dd/MM/yy, HH:mm' }}</td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!-------------------------------------->

