<!--<p>u-index works!</p>-->
<!--<div>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Action</th>-->
<!--      <th>#</th>-->
<!--      <th>Nom</th>-->
<!--      <th>Prenom</th>-->
<!--      <th>Email</th>-->
<!--      <th>Date Creation</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr *ngFor="let user of userList">-->
<!--        <td></td>-->

<!--        <td>{{user.id}}</td>-->
<!--        <td>{{user.lastname}}</td>-->
<!--        <td>{{user.surname}}</td>-->
<!--        <td>{{user.email}}</td>-->
<!--        <td>{{user.dateSubscription |date: 'dd/MM/yy, HH:mm' }}</td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!-------------------------------------->

<h2 class="styleTitle">Liste des utilisateurs</h2>
<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table table-striped">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let userList"> {{userList._id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Surname </th>
        <td mat-cell *matCellDef="let userList"> {{userList.surname | titlecase}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Lastname </th>
        <td mat-cell *matCellDef="let userList"> {{userList.lastname}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let userList"> {{userList.role | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let userList"> {{userList.email}} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Adresse </th>
        <td mat-cell *matCellDef="let userList"> {{userList.address}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let userList; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
