
<!--<div class="admin_body">-->
<!--  <div class="menu">-->
<!--    <app-sidemenu></app-sidemenu>-->
<!--  </div>-->
<!--  <div class="admin_container" >-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->

<!-------------------------------------->
<app-aheader></app-aheader>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>
    <p class="role">ADMIN</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="espace">
      <mat-icon>home</mat-icon>
      <span>Accueil</span>
    </button>
    <button mat-button class="menu-button" routerLink="profil">
      <mat-icon>person</mat-icon>
      <span>Profil</span>
    </button>
    <button mat-button class="menu-button" routerLink="dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="user">
      <mat-icon>people</mat-icon>
      <span>Utilisateurs</span>
    </button>
    <button mat-button class="menu-button" routerLink="about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Parametres</span>
    </button>
    <button  (click)="logout()" mat-button class="menu-button" >
      <mat-icon>exit_to_app</mat-icon>
      <span> Deconnexion </span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
